<div class="uiCreateCharacter">
	<img class="logo" src="images/logo_0.png" alt="">
	<div class="box-left hasBorderShadow">
		<div class="left">
			<div class="label">name</div>
			<input type="text" class="el textbox txtName" maxlength="12">
			<div class="label">spirit</div>
			<div class="el textbox txtClass"></div>
			<div class="label">skin</div>
			<div class="skinBox">
				<div class="btn btnPrev" delta="-1">&lt;</div>
				<div class="el textbox txtCostume"></div>
				<div class="btn btnNext" delta="1">&gt;</div>
			</div>
			<div class="message"></div>
		</div>
		<div class="right">
			<div class="portrait">
				<div class="sprite"></div>
			</div>
			<div class="el btn btnBack">back</div>
			<div class="el btn btnCreate">create</div>
		</div>
	</div>
</div>
