@import "colors.less";

@font-face {
	font-family: bitty;
	src: url('../fonts/bitty.otf');
}

* {
	box-sizing: border-box;
	font-family: bitty;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	margin: 0px;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/static_bg.png);
	background-repeat: repeat;
	background-position: center center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 562px;
	height: 200px;
	margin-bottom: 20px;
}

.error,
.discord {
	color: @redB;
	font-size: 24px;
	padding: 10px;
	filter: drop-shadow(0px -6px 0px @blackD) 
	drop-shadow(0px 6px 0px @blackD)
	drop-shadow(6px 0px 0px @blackD) 
	drop-shadow(-6px 0px 0px @blackD);
}

.discord {
	justify-self: end;

	a:visited,
	a:link,
	a:active,
	a:hover {
		color: @yellowB;
		text-decoration: none;
	}

}
